body {
  margin: 0;
  padding: 0;
}

.navbar {
  position: absolute;
  padding: 15px !important;
  margin-top: 8px;
}

.logo {
  width: 45px;
}

.map {
  height: 1024px;
  width: 1024px;
  background-image: url("../images/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}

.location-pin {
  height: 26px;
  position: absolute;
  bottom: -10px;
  left: -3px;
}

.popover {
  left: -48px;
  top: 13px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 113px;
  height: 66px;
  border-radius: 4px;
  background-color: #232323;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  transform-origin: 50% 0;
  transition: transform .2s ease-in;
}

.pin {
  position: relative;
  width: 0;
  height: 0;
  overflow: visible;
}

.city-name {
  display: flex;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: #F8F8F8;
}

.city-time {
  color: #B3FBEE;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
  display: flex;
  margin: -5px;
}

#new-york:hover, #new-york.active,
#london:hover, #london.active,
#belgrade:hover, #belgrade.active,
#tokyo:hover, #tokyo.active,
#sydney:hover, #sydney.active {
  transform: scale(1.50) translateY(-4px);
}

#new-york_popover.active,
#london_popover.active,
#belgrade_popover.active,
#tokyo_popover.active,
#sydney_popover.active {
  visibility: visible;
  opacity: 0.9;
  transform: scale(1);
}

.container-fluid {
  padding: 0 !important;
}

@media (min-width: 768px) {

  .logo {
    width: 60px;
  }

  .navbar {
    padding: 25px !important;
    margin-top: 10px;
  }
}